/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 3, 2018, 7:23:05 PM
    Author     : Alex
*/
#tweet_composer {
    width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#composer {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#tweet_form {
    width: auto;
    margin: 0px;
    text-align: right;
}
#profile_pic img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
}
#tweet_pic img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 30px;
}
#follow_pic img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 30px;
}

#suggested_users, #user_feed {
    overflow: auto;
    height: 80vh;
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.tweets, .users {
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.flex-container {
    display: flex;
    flex-flow: wrap;
}

.main_column {
    flex: 70%;
}

.side_column {
    flex: 15%;
    align-items: stretch;
}

.tweet_button, .delete_button {
    background-color: cornflowerblue;
    color: white;
    display: inline-block;
    text-align: center;
    margin-right: 6px;
    margin-top: 0px;
    width: auto;
    border-radius: 0px;
}

.tweet_button {
    margin: 0px;
}

.delete_button {
    background-color: crimson;
    height: 100%;
}

.tweet_button:hover {
    background-color: lightskyblue;
    color: white;
}

.delete_button:hover {
    background-color: darkred;
}
/*change color of user mention text*/
.blueX {
    color: blue;
}

@media screen and (max-width: 700px) {
    .flex-container {   
        flex-direction: column;
    }
}