/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2018, 12:52:52 PM
    Author     : Alex
*/


.login_button {
    display: inline-block;
    text-align: center;
    background-color: cornflowerblue;
    color: white;
    width: 13%;
    font-size: 100%;
}
.login_button:hover {
    background-color: lightskyblue;
}