/* The styles for the elements */
#mydiv
{
    color:red;
}
body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    margin: 0 auto;
    width: 800px;
}
h1 {     
    font-size: 140%;
    color: teal;
    margin-bottom: .5em;
}
h2 {
    font-size: 300%;
    color: blue;
}
label {
    float: left;
    width: 7em;
    margin-bottom: 0.5em;
    font-weight: bold;
}
input {  /* An attribute selector */
    width: 10em;
    margin-left: 0.5em;    
    margin-bottom: 0.5em;
    font: Tahoma;
    font-size: 10px;
}
span {
    margin-left: 0.5em;    
    margin-bottom: 0.5em;    
}
br {
    clear: both;
}

/* The styles for the classes */
.pad_top {
    padding-top: 0.25em;
}
.margin_left {
    margin-left: 0.5em;
}
.errorspan {
    Display: none;
}
.notVisible {
    Dislay:none;
}