/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2018, 1:24:54 PM
    Author     : Alex
*/
#signup_form {
    width: 100%;
}

.submit_button {
    background-color: cornflowerblue;
    color: white;
    display: inline-block;
    text-align: center;
    width: 20%;
    margin-right: 6px;
}
.submit_button:hover {
    background-color: lightskyblue;
    color: white;
}
.reset_button {
    display: inline-block;
    text-align: center;
    background-color: gray;
    color: white;
    width: 10%;
    
}
.reset_button:hover {
    background-color: lightgray;
}