/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2018, 1:24:54 PM
    Author     : Alex
*/
#signup_form {
    width: 100%;
}

.submit_button {
    background-color: #99ff00;
    float:left;
    width: 20%;
    margin-right: 6px;
}
.submit_button:hover {
    background-color: green;
    color: white;
}
.reset_button {
    background-color: #ff6666;
    float: left;
    color: white;
    width: 10%;
}
.reset_button:hover {
    background-color: red;
}